.profile-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  margin-top: 15px;
}
.profile-card {
  text-align: center;
}
h4 {
  margin-top: -15px;
}
a:hover {
  background-color: rgb(196, 196, 196);
  color: white  ;
}
.pages{
    margin: 5px;
}
